/*.index .navbar-brand .backarrow {
	background: url(../icons/backarrow.png) no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
} */

hr {
	border:1px solid #BBBBBB;
}

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.work-content {
	margin: 20px 115px 20px 100px;
	padding: 0px 200px 0px 200px;
}
	.work-content .indent {
		margin-left: 30px;
	}
	.work-content .work-title, .work-content .work-description{
		text-align: center;
		margin: 10px;
		padding: 0px;
	}

.work-description {
	color: #969696;
	font-size: 1.2rem;
}

	.work-subtitle {
		color: #4A4A4A;
		font-size: 1.5rem;
		padding-bottom:10px;
	}
	.work-content p {
		line-height: 1.5;
		text-align: justify;
	}

	.work-content .quote{
		text-align: center;
		color: #828282;
		font-style: italic;
		font-size: 1.2rem;
	}

	.work-content .caption {
		font-style: italic;
		font-size: 0.9rem;
		text-align: center;
	}
	.work-content .example {
		text-align: center;
		font-style: italic;
	}

	.work-content .sub-subtitle {
		color: #4A4A4A;
		font-size: 1.2rem;
		padding: 20px 0px 10px 0px;
	}
	.work-content .sub-sub-subtitle {
		color: #262626;
		font-weight: 400;
		padding: 20px 0px 10px 0px;
	}
	.work-content .list {
		padding: 10px 0px 10px 50px;;
	}
		.work-content .list li{
			padding: 5px 0px 5px 0px;
		}
	.work-content .row {
		margin: 50px;
	}
	.work-content .row .odin-intro p{
		vertical-align: center;
	}

.large-img {
	width: 100%;
	height: auto;
	opacity: 1;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
	.img-border {
			border: 1px solid #CCCCCC;
	}
	.space {
		width: 70%;
		height: auto;
		opacity: 1;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}

.workpage-container {
	margin: 50px 65px 50px 65px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: flex-start;
}
.workpage-container > div{
	box-sizing: border-box;

}
	.four  > div{
		width: calc(1/4*100% - (1 - 1/4)*10px);
	}

	.two > div {
		width: calc(1/2*100% - (1 - 1/2)*10px);
	}

.work-asset{
	background-color: #fff;
	height: auto;
	margin: auto;
	position:relative;
}
	.four-item {
		width: 23%;
		flex-grow: 1 25%;
		height:auto;
	}
	.two-item {
		width: 45%;
		flex-grow: 1 50%;
		height:auto;
	}
	.three-item {
		width: 33%;
		flex-grow: 1 33%;
		height:auto;
	}
	.small {
		width: 15%;
		height: auto;
	}
	.medium {
		width: 24%;
		height: auto;
	}
	.medium-2 {
		width: 50%;
		height: auto;
	}
	.large {
		width: 100%;
		height: auto;
	}

.work-asset img {
	width: 100%;
	height: auto;
	opacity: 1;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

/*------------Buttons-----------*/

.btn-primary {
	color: #fff;
	background-color: #d05063;
	border: none;
}
	.btn-primary:active:hover{
			background-color: #9e3c4a;
			border: none;
	}
	.btn-primary:hover{
			background-color: #9e3c4a;
			border: none;
	}
.button-txt {
	style:none;
	color: #fff;
	text-decoration: none;
}
	.button-txt:hover, .button-txt:focus{
		style:none;
		color: #fff;
		text-decoration: none;
	}

.btn-primary-blue{
	color: #fff;
	background-color: #02958d;
	border: none;
}
	.btn-primary-blue:active:hover{
		background-color: #036862;
		border: none;
	}
	.btn-primary-blue:hover{
		background-color: #036862;
		border: none;
	}

.btn-primary-redorange{
	color: #fff;
	background-color: #e83329;
	border: none;
}
	.btn-primary-redorange:active:hover{
		background-color: #a51c15;
		border: none;
	}
	.btn-primary-redorange:hover{
		background-color: #a51c15;
		border: none;
	}



/*.right-work {
	text-align: right;
}

.rightlink p{
	text-align: right;
	display: inline;
}
.rightlink:hover p{
	color: #3FBAEB;
}

.rightlink:hover {
	text-decoration: none;
}

.rightlink img {
	height: 50px;
	width: auto;
	display: inline;
	margin-left: 10px;
}*/

@media all and (min-width: 750px) {
	.large-img:hover, .space:hover {
		opacity: 0.9;
	}
	.work-asset img:hover {
		opacity: 0.9;
	}
	#husky-web {
		display: inline;
	}
}
@media all and (max-width: 750px) {
	.work-content{
		margin: 30px 20px 30px 30px;
		padding: 0px;
	}
	.work-content .row {
		margin: 20px 0px 20px 0px;
	}
	.workpage-container {
		margin: 0px;
		padding: 0px;
	}
	.work-subtitle {
		margin: 20px 0px 20px 0px;
	}
	#husky-web {
		display: none;
	}
}
