/*.index .navbar-brand .backarrow {
	background: url(../icons/backarrow.png) no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
} */


.work-content {
	margin: 20px 115px 20px 100px;
	padding: 0px 50px 0px 50px;
}
	.work-content .work-title, .work-content .work-description{
		text-align: center;
		margin: 10px;
		padding: 0px;
	}
	.work-subtitle {
		color: #4A4A4A;
		text-align: left;
		font-size: 1.5rem;
		margin-left: 0px;
	}
	.work-content p {
		line-height: 1.5;
		text-align: justify;
	}

	.work-content .row {
		margin: 50px;
	}
	.work-content .row .odin-intro p{
		vertical-align: center;
	}

.large-img {
	width: 100%;
	height: auto;
	opacity: 1;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
	.img-border {
			border: 1px solid #CCCCCC;
	}
	.space {
		width: 70%;
		height: auto;
		opacity: 1;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}

.workpage-container {
	margin: 50px 65px 50px 65px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: flex-start;
}
.workpage-container > div{
	box-sizing: border-box;

}
	.four  > div{
		width: calc(1/4*100% - (1 - 1/4)*10px);
	}

	.two > div {
		width: calc(1/2*100% - (1 - 1/2)*10px);
	}

.work-asset{
	background-color: #fff;
	height: auto;
	margin: auto;
	position:relative;
}
	.four-item {
		width: 25%;
		flex-grow: 1 25%;
		height:auto;
	}

	.two-item {
		width: 50%;
		flex-grow: 1 50%;
		height:auto;
	}
	.small {
		width: 15%;
		height: auto;
	}

.work-asset img {
	width: 100%;
	height: auto;
	opacity: 1;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}


/*.right-work {
	text-align: right;
}

.rightlink p{
	text-align: right;
	display: inline;
}
.rightlink:hover p{
	color: #3FBAEB;
}

.rightlink:hover {
	text-decoration: none;
}

.rightlink img {
	height: 50px;
	width: auto;
	display: inline;
	margin-left: 10px;
}*/

@media all and (min-width: 750px) {
	.large-img:hover, .space:hover {
		opacity: 0.9;
	}
	.work-asset img:hover {
		opacity: 0.9;
	}
	#husky-web {
		display: inline;
	}
}
@media all and (max-width: 750px) {
	.work-content{
		margin: 30px 20px 30px 30px;
		padding: 0px;
	}
	.work-content .row {
		margin: 20px 0px 20px 0px;
	}
	.workpage-container {
		margin: 0px;
		padding: 0px;
	}
	#husky-web {
		display: none;
	}
}
