---
layout: default
---
<div class="about">
  <div class="about-container">
    <div class="profile about-item">
      <img class="lazy" data-original="{{ "/img/about/profile.jpg" | relative.url }}"/>
    </div>
    <div class="text about-item">
      <h1>celina chang</h1>
      <h2>Computer Engineering, Management Sciences Option
        <br>University of Waterloo</h2>
      <p>My name is Celina. I am a 4th year Computer Engineering, Management Sciences Option student at the University of Waterloo. I recently completed my second term as a Product Manager Co-op at Electronic Arts on the FIFA Mobile Live Team. I am looking for a full-time placement for June 2019. If my skill set fits with an opening, let me know at celina.chang16@gmail.com. <br><br>Aside from school, my hobbies include illustration arts, graphic design, PC/console gaming, 2D/3D animation, and volleyball.  </p>

    </div>

  </div>
</div>
<h1 class="mobile-page-title">about me</h1>
<div class="mobile-about">
  <div class="mobile-about-text">
    <h1>Celina Chang</h1>
      <h2>Computer Engineering, Management Sciences Option
        <br>University of Waterloo</h2>
      <p>My name is Celina. I am a 4th year Computer Engineering, Management Sciences Option student at the University of Waterloo. I recently completed my second term as a Product Manager Co-op at Electronic Arts on the FIFA Mobile Live Team. I am looking for a full-time placement for June 2019. If my skill set fits with an opening, let me know at celina.chang16@gmail.com. <br><br>Aside from school, my hobbies include illustration arts, graphic design, PC/console gaming, 2D/3D animation, and volleyball. </p>
  </div>
  <img class ="mobile-about-img" src="{{ "/img/about/profile.jpg" | relative.url }}"/>
</div>
