---
layout: default
---
<div class="about">
  <div class="about-container">
    <div class="profile about-item">
      <img class="lazy" data-original="{{ "/img/about/profile.jpg" | relative.url }}"/>
    </div>
    <div class="text about-item">
      <h1>celina chang</h1>
      <h2>3A Computer Engineering | University of Waterloo</h2>
      <p>My name is Celina. I am a 3A Computer Engineering student at the University of Waterloo. Currently, I work at TD Lab as a UI/UX Design Co-op. My hobbies include illustration arts, graphic design, PC gaming, 2D/3D animation, and volleyball.

      <br><br>Hit me up at celina.chang16@gmail.com if you want to chat.</p>
    </div>

  </div>
</div>
<h1 class="mobile-page-title">about me</h1>
<div class="mobile-about">
  <div class="mobile-about-text">
    <h1>Celina Chang</h1>
    <h2>3A Computer Engineering | University of Waterloo</h2>
    <p>My name is Celina. I am a 3A Computer Engineering student at the University of Waterloo. Currently, I work at TD Lab as a UI/UX Design Co-op. My hobbies include illustration arts, graphic design, PC gaming, 2D/3D animation, and volleyball.

    <br><br>Hit me up at celina.chang16@gmail.com if you want to chat.</p>
  </div>
  <img class ="mobile-about-img" src="{{ "/img/about/profile.jpg" | relative.url }}"/>
</div>
