---
layout: default
---
<h1 class="mobile-page-title">gallery</h1>
<div class="gallery">
  <h2 class ="mobile-division-title">Digital Illustrations</h2>
  <div class="set gallery-container">
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/digital/eyes2.png"/>
      <span><a href="../img/digital/eyes2.png" data-lightbox="gallery"><h2 class="title">Winter Eyes</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/digital/tzuyu1.png"/>
      <span><a href="../img/digital/tzuyu1.png" data-lightbox="gallery"><h2 class="title">TWICE's Tzuyu</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/digital/Blue.jpg"/>
      <span><a href="../img/digital/Blue.jpg" data-lightbox="gallery"><h2 class="title">Blue.</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/digital/triumpwinter.png"/>
      <span><a href="../img/digital/triumpwinter.png" data-lightbox="gallery"><h2 class="title">Snow Dance</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/digital/SASUKECHARIZARD.png"/>
      <span><a href="../img/digital/SASUKECHARIZARD.png" data-lightbox="gallery"><h2 class="title">Fire Crossover</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/digital/liu.png"/>
      <span><a href="../img/digital/liu.png" data-lightbox="gallery"><h2 class="title">Stars</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/digital/shower.png"/>
      <span><a href="../img/digital/shower.png" data-lightbox="gallery"><h2 class="title">Shower</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/digital/lost.jpg"/>
      <span><a href="../img/digital/lost.jpg" data-lightbox="gallery"><h2 class="title">Lost</h2></a></span>
    </div>
  </div>

  <h2 class="mobile-division-title">Traditional Illustrations</h2>
  <div class="set gallery-container">
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/mother-child.png"/>
      <span><a href="../img/traditional/mother-child.png" data-lightbox="traditional"><h2 class="title">Mother and Child</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/oilpainting.jpg"/>
      <span><a href="../img/traditional/oilpainting.jpg" data-lightbox="traditional"><h2 class="title">Virginia</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/myCity.jpg"/>
      <span><a href="../img/traditional/myCity.jpg" data-lightbox="traditional"><h2 class="title">My City</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/theoldworld.jpg"/>
      <span><a href="../img/traditional/theoldworld.jpg" data-lightbox="traditional"><h2 class="title">The Old World</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/Landscape.jpg"/>
      <span><a href="../img/traditional/Landscape.jpg" data-lightbox="traditional"><h2 class="title">Study - Acrylic</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/polarbears.jpg"/>
      <span><a href="../img/traditional/polarbears.jpg" data-lightbox="traditional"><h2 class="title">Drowning<br/></h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/oilpastel.png"/>
      <span><a href="../img/traditional/oilpastel.png" data-lightbox="traditional"><h2 class="title">Study - Oil Pastel</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/rocks.jpg"/>
      <span><a href="../img/traditional/rocks.jpg" data-lightbox="traditional"><h2 class="title">Study - Rocks</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/apartment.png"/>
      <span><a href="../img/traditional/apartment.png" data-lightbox="traditional"><h2 class="title">The Dead Earth</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/bird.jpg"/>
      <span><a href="../img/traditional/bird.jpg" data-lightbox="traditional"><h2 class="title">Study - Poster Colour</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/stairs.png"/>
      <span><a href="../img/traditional/stairs.png" data-lightbox="traditional"><h2 class="title">Study - Mixed Media</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/figure1.png"/>
      <span><a href="../img/traditional/figure1.png" data-lightbox="traditional"><h2 class="title">Study - Pencil</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/figure2.png"/>
      <span><a href="../img/traditional/figure2.png" data-lightbox="traditional"><h2 class="title">Study - Pencil</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/bow.png"/>
      <span><a href="../img/traditional/bow.png" data-lightbox="traditional"><h2 class="title">Study - Mixed Media</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/Practice.png"/>
      <span><a href="../img/traditional/Practice.png" data-lightbox="traditional"><h2 class="title">Study - Pencil</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/characterdesign.png"/>
      <span><a href="../img/traditional/characterdesign.png" data-lightbox="traditional"><h2 class="title">Character Design</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/city.png"/>
      <span><a href="../img/traditional/city.png" data-lightbox="traditional"><h2 class="title">Abandoned City</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy" data-original="../img/traditional/coffeeboy.png"/>
      <span><a href="../img/traditional/coffeeboy.png" data-lightbox="traditional"><h2 class="title">Coffee</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/french-pictures.png"/>
      <span><a href="../img/traditional/french-pictures.png" data-lightbox="traditional"><h2 class="title">French Pictures</h2></a></span>
    </div>
    <div class="item gallery-item">
      <img class="lazy landscape" data-original="../img/traditional/house.png"/>
      <span><a href="../img/traditional/house.png" data-lightbox="traditional"><h2 class="title">Study - Pencil</h2></a></span>
    </div>
  </div>
</div>
