---
layout: default
---
<div class="motion">
  <h2>3D animation and modelling</h2>
  <div class="set motion-container">
    <div class="motion-item">
      <div id="vid-4" class="motion-overlay">
        <center><img src="../img/motion/paperplane.png"/></center>
        <span><h2 class="title">Paper Plane</h2></span>
      </div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DrMAklyn0W8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="motion-item">
      <div id="vid-3" class="motion-overlay">
        <center><img src="../img/motion/christmas_tree.png"/></center>
        <span><h2 class="title">Christmas</h2></span>
      </div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gZeSeesra30" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="motion-item">
      <div id="vid-2" class="motion-overlay">
        <center><img src="../img/motion/pumpkin.png"/></center>
        <span><h2 class="title">Haunted House</h2></span>
      </div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ifppON6KRpA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="motion-item">
      <div id="vid-1" class="motion-overlay">
        <center><img src="../img/motion/house.png"/></center>
        <span><h2 class="title">Building Model</h2></span>
      </div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/vFBHahPNJAc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <h2>2D animation</h2>
  <div class="set motion-container">
    <div class="motion-item">
      <div id="vid-5" class="motion-overlay">
        <center><img class="gif" src="../img/motion/li.gif"/></center>
        <span><a href="../img/motion/li.gif" data-lightbox="motion"><h2 class="title">Blink</h2></a></span>
      </div>
    </div>
    <div class="motion-item">
      <div class="motion-overlay">
        <center><img class="gif" src="../img/motion/blink.gif"/></center>
        <span><a href="../img/motion/blink.gif" data-lightbox="motion"><h2 class="title">Blink</h2></a></span>
      </div>
    </div>
  </div>
</div>
