---
layout: default
---
<h1 class="mobile-page-title">motion</h1>
<div class="motion">
  <h2 class="mobile-division-title">3D Animation and Modelling</h2>
  <div class="set motion-container">
    <div class="item motion-item">
          <iframe src="https://www.youtube.com/embed/DrMAklyn0W8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="mobile-title-container">
      <h2 class="mobile-title">Paper Plane</h2>
      <h2 class="mobile-subtitle">3D Modelling and Animation | Maya</h2>
    </div>
    <div class="item motion-item">
      <iframe src="https://www.youtube.com/embed/gZeSeesra30" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="mobile-title-container">
      <h2 class="mobile-title">Snow Globe</h2>
      <h2 class="mobile-subtitle">3D Modelling and Animation | Maya</h2>
    </div>
    <div class="item motion-item">
        <iframe src="https://www.youtube.com/embed/ifppON6KRpA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="mobile-title-container">
      <h2 class="mobile-title">Haunted House</h2>
      <h2 class="mobile-subtitle">3D Modelling and Animation| Maya</h2>
    </div>
    <div class="item motion-item">
      <iframe src="https://www.youtube.com/embed/vFBHahPNJAc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="mobile-title-container">
      <h2 class="mobile-title">Building Model</h2>
      <h2 class="mobile-subtitle">3D Modelling | Maya</h2>
    </div>
  </div>

  <h2 class="mobile-division-title">2D Animation</h2>
  <div class="set motion-container">
    <div class="item gallery-item">
        <center><img class="gif" src="../img/motion/li.gif"/></center>
        <span><a href="../img/motion/li.gif" data-lightbox="motion"><h2 class="title">Blink</h2></a></span>
    </div>
    <div class="mobile-title-container">
      <h2 class="mobile-title">Limon Blink</h2>
      <h2 class="mobile-subtitle">2D Animation | PaintTool SAI, Photoshop</h2>
    </div>
    <div class="item gallery-item">
        <center><img class="gif" src="../img/motion/blink.gif"/></center>
        <span><a href="../img/motion/blink.gif" data-lightbox="motion"><h2 class="title">Blink</h2></a></span>
    </div>
    <div class="mobile-title-container">
      <h2 class="mobile-title">Blink</h2>
      <h2 class="mobile-subtitle">2D Animation | PaintTool SAI, Photoshop</h2>
    </div>
  </div>
</div>
